.ant-card.job-table {
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.15);
  border: none;
  margin-top: 60px;
  .ant-card-body {
    padding: 30px;
    .job-table-title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
}
